<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
	<h:head>
		<title>This is project standart</title>
		<link rel="icon" type="image/ico"
			href="#{resource['images:favicon.png']}" />
		<link
			href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700'
			rel='stylesheet' type='text/css' />


		<h:outputStylesheet name="ste.css" library="css" />

		<script type="text/javascript">
			function handleDrop(event, ui) {
				var draggable = ui.draggable, helper = ui.helper, position = ui.position, offset = ui.offset;
			}
		</script>
	</h:head>
	<h:outputScript library="primefaces" name="jquery/jquery.js"
		target="head" />
	<h:outputScript name="jquery.maskMoney.js" library="js" target="head" />
	<h:body>
		<p:growl id="messages" globalOnly="true" autoUpdate="true" />
		<ui:insert name="body" />
	</h:body>
</f:view>
</html>