<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/blank.xhtml">

	<ui:define name="body">

		<p:layout widgetVar="layoutCenter" fullPage="true">
			<p:layoutUnit position="west" header="Filtro" resizable="true"
				closable="false" collapsible="true" effect="drop" effectSpeed="1"
				gutter="1" id="west" size="250">
				<ui:insert name="filtro" />
			</p:layoutUnit>

			<p:layoutUnit position="center">

				<ui:insert name="content" />

			</p:layoutUnit>
		</p:layout>

	</ui:define>

</ui:composition>