body {
	margin: 0;
	min-width: 600px;
	min-width: 600px;
}

.label {
	font-weight: 700;
	min-width: 150px;
	text-align: right;
}

.h1 {
	font-size: 25px;
}

.drop {
	background: #AAA;
	width: 250px;
	height: 250px;
	display: block;
}

.comandos {
	padding-left: 165px;
}

.cancelar {
	float: right;
}

.upperCase {
	text-transform: uppercase;
}

.ui-widget {
	font-size: 13px !important;
	font-family: 'Open Sans', sans-serif !important;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 13px !important;
	font-family: 'Open Sans', sans-serif !important;
}

.ui-dialog {
	top: 90px !important;
}

.gridConfiguracaoImposto {
	width: 100%;
}

.dinheiro {
	text-align: right;
}

.porcentagem {
	text-align: right;
}

